application:
    rest:
        context-path: /api
        allowed-origins: ${ALLOWED_ORIGINS:http://localhost:4200, http://localhost:4201}

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/phoneshop
    username: phoneshop_piseth
    password: piseth123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    serialization:
      fail-on-empty-beans: false
  liquibase:
        change-log: classpath:db/changelog/db.changelog-master.yaml
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
      
      